<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>library.controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>library.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUserController</servlet-name>
        <servlet-class>library.controller.SearchUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>library.controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BanUserController</servlet-name>
        <servlet-class>library.controller.BanUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateInstantController</servlet-name>
        <servlet-class>library.controller.CreateInstantController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateStudentController</servlet-name>
        <servlet-class>library.controller.CreateStudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateBookController</servlet-name>
        <servlet-class>library.controller.CreateBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBookController</servlet-name>
        <servlet-class>library.controller.SearchBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBookController</servlet-name>
        <servlet-class>library.controller.UpdateBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBookController</servlet-name>
        <servlet-class>sample.controller.DeleteBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserController</servlet-name>
        <servlet-class>library.controller.UpdateUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrderController</servlet-name>
        <servlet-class>library.controller.UpdateOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowOrderController</servlet-name>
        <servlet-class>library.controller.ShowOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailViewController</servlet-name>
        <servlet-class>library.controller.OrderDetailViewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserViewBookController</servlet-name>
        <servlet-class>library.controller.UserViewBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterBookController</servlet-name>
        <servlet-class>library.controller.FilterBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>library.controller.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelCartController</servlet-name>
        <servlet-class>library.controller.CancelCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrowController</servlet-name>
        <servlet-class>library.controller.BorrowController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserOrderController</servlet-name>
        <servlet-class>library.controller.UserOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserViewDetailsController</servlet-name>
        <servlet-class>library.controller.UserViewDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActiveBookController</servlet-name>
        <servlet-class>library.controller.ActiveBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartController</servlet-name>
        <servlet-class>library.controller.UpdateCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveController</servlet-name>
        <servlet-class>library.controller.RemoveController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequireController</servlet-name>
        <servlet-class>library.controller.RequireController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUserController</servlet-name>
        <url-pattern>/SearchUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BanUserController</servlet-name>
        <url-pattern>/BanUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateInstantController</servlet-name>
        <url-pattern>/CreateInstantController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateStudentController</servlet-name>
        <url-pattern>/CreateStudentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateBookController</servlet-name>
        <url-pattern>/CreateBookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBookController</servlet-name>
        <url-pattern>/SearchBookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBookController</servlet-name>
        <url-pattern>/UpdateBookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBookController</servlet-name>
        <url-pattern>/DeleteBookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserController</servlet-name>
        <url-pattern>/UpdateUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrderController</servlet-name>
        <url-pattern>/UpdateOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowOrderController</servlet-name>
        <url-pattern>/ShowOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailViewController</servlet-name>
        <url-pattern>/OrderDetailViewController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserViewBookController</servlet-name>
        <url-pattern>/UserViewBookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterBookController</servlet-name>
        <url-pattern>/FilterBookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/AddToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelCartController</servlet-name>
        <url-pattern>/CancelCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrowController</servlet-name>
        <url-pattern>/BorrowController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserOrderController</servlet-name>
        <url-pattern>/UserOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserViewDetailsController</servlet-name>
        <url-pattern>/UserViewDetailsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActiveBookController</servlet-name>
        <url-pattern>/ActiveBookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartController</servlet-name>
        <url-pattern>/UpdateCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveController</servlet-name>
        <url-pattern>/RemoveController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequireController</servlet-name>
        <url-pattern>/RequireController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>UserViewBookController</welcome-file>
    </welcome-file-list>
</web-app>
